<td>
    <div>
      <div >
        {{comment.message}}
      </div>
      <small class="text-muted">
        <em class="fa fa-history"></em> &nbsp;{{comment.updatedAt|date:'dd/MM/yyyy'}}

      </small>
    </div>

    <br />
    <small class="text-muted" [innerHTML]="comment.description">
      
    </small>
  </td>
  
  <td class="author" >
    <em class="fa fa-user-circle fa-lg "></em>&nbsp;{{user.nom + " " + user.prenom}}
  </td>
  <td>
    <button class="btn btn-primary" (click)="editComment('#commentForm')">Modifier</button>&nbsp;
    <button class="btn btn-danger" >Supprimer</button>&nbsp;
  </td>
