<h1 mat-dialog-title>{{formTitle}}</h1>
<div mat-dialog-content>
<form  [formGroup]="forumForm" (ngSubmit)="submitForum()">
    <div class="form-group">
        <label>Titre</label>
        <input class="form-control" type="text" placeholder="Titre" formControlName="titre" />
        <small *ngIf="forumForm.get('titre').hasError('required')" class="text-danger">Champs obligatoire</small>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!forumForm.valid" style="float: right;">
        Ajouter
    </button>
</form>
</div>
