<h1 mat-dialog-title>Formulaire d'Inscription</h1>
<div mat-dialog-content>
    <small [hidden] = "!showError" style="color: red;">L'e-mail que vous avez choisi existe déjà !</small>
    
  <form #RegisterRorm="ngForm" (ngSubmit)="register()">
    &nbsp;
    <div class="form-group">
        <label>Nom</label>
        <input  class="form-control" type="text" placeholder="Nom" name="nom"
            [(ngModel)]="user.nom" required />
        
    </div>
    <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" type="text" placeholder="Prénom" name="prenom"
            [(ngModel)]="user.prenom" required />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" placeholder="adresse@gmail.com" name="email" [(ngModel)]="user.email" required />
    </div>
    <div class="form-group">
        <label>Mot de passe</label>
        <input class="form-control" type="password" placeholder="******" name="password" [(ngModel)]="user.password" required />
    </div>
    <button mat-button  type="submit" class="btn btn-primary" [disabled]="!RegisterRorm.valid" style="float: right;">
        S'inscrire
    </button>
</form>
</div>
